//---HELPERS---
mixin non-breaking-ndash
  | &#8288;&ndash;&#8288;

mixin mailto(email)
  a(href="mailto:"+email, target="_blank")= email


//---SCHEDULE---
//- event = {title, subtitle?, location}
mixin schedule-row(time, event)
  .row.no-gutters
    .col-3.col-md-2
      .time!= time
    .col-9.col-md-10.col-lg-8
      .event(class=(event.type ? "event-" + event.type : ""))
        .title!= event.title
        .subtitle!= event.subtitle || ""
        .location!= event.location || "&nbsp;"

mixin schedule-row-2(time, event1, event2)
  .row.no-gutters
    .col-3.col-md-2
      .time!= time
    .col-9.col-md-10.col-lg-8.d-flex.flex-wrap
      .event(class=(event1.type ? "event-" + event1.type : ""))
        .title!= event1.title
        .subtitle!= event1.subtitle || ""
        .location!= event1.location || "&nbsp;"
      .event(class=(event2.type ? "event-" + event2.type : ""))
        .title!= event2.title
        .subtitle!= event2.subtitle || ""
        .location!= event2.location || "&nbsp;"

mixin schedule-div(time, title)
  .row.no-gutters
    .col-3.col-md-2
      .time.schedule-div-time!= time
    .col-9.col-md-10.col-lg-8
      .schedule-div-hr
        span.schedule-div-text!= title

mixin schedule-day(title, isFirst)
  .row.no-gutters
    .col-12
      .schedule-day-title(id=(isFirst ? "schedule-day-title-first" : ""))!= title


//---SPONSORS---
mixin logo-sm(src, alt, reducePercent)
  .logo.col-6.col-sm-5.col-md-4.col-lg-3
    img.img-fluid(src="/img/logos/"+src, alt=alt, style=(reducePercent ? `padding: 0 ${reducePercent}%` : ""))

mixin logo-md(src, alt, reducePercent)
  .logo.col-10.col-lg-5
    img.img-fluid(src="/img/logos/"+src, alt=alt, style=(reducePercent ? `padding: 0 ${reducePercent}%` : ""))

mixin logo-lg(src, alt, reducePercent)
  .logo.col-12.col-lg-9
    img.img-fluid(src="/img/logos/"+src, alt=alt, style=(reducePercent ? `padding: 0 ${reducePercent}%` : ""))


//---TEAM---
mixin team-member(src, name, title)
  .col-9.col-sm-6.col-md-4.col-lg.team-member
    img.img-fluid.rounded-circle.team-member-photo(src="/img/team/"+src, alt=name, onerror="this.src='/img/team/Blank.png'")
    .team-member-name= name
    .team-member-title= title


doctype html
html
  head
    meta(charset="UTF-8")
    title JAMHacks 2
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

    link(rel="stylesheet" href="css/style.css")

    //- Favicon/mobile stuff
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
    link(rel="manifest" href="/manifest.json")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#6554be")
    meta(name="theme-color" content="#6554be")
    
    //- Scraping/Sharing meta stuff
    meta(name="description" content="JAMHacks 2 is Waterloo's biggest high school hackathon! On May 5-6, we are bringing together 200 students from high schools all over Ontario for a full 24 hours of creating, learning and innovating.")
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "JAMHacks 2",
        "startDate": "2018-04-14T14:00:00-05:00",
        "endDate": "2018-04-15T20:00:00-05:00",
        "url": "https://jamhacks.ca/",
        "image": "https://jamhacks.ca/img/og-image.png",
        "description": "JAMHacks 2 is Waterloo's biggest high school hackathon! On May 5-6, we are bringing together 200 students from high schools all over Ontario for a full weekend of creating, learning and innovating.",
        "location": {
          "@type": "Place",
          "name": "Sir John A. Macdonald Secondary School",
          "address": "650 Laurelwood Drive, Waterloo, ON N2V 2V1"
        }
      }
    //- Facebook OpenGraph
    meta(property="og:url" content="https://jamhacks.ca/")
    meta(property="og:type" content="website")
    meta(property="og:title" content="JAMHacks 2")
    meta(property="og:description" content="JAMHacks 2 is Waterloo's biggest high school hackathon! On May 5-6, we are bringing together 200 students from high schools all over Ontario for a full 24 hours of creating, learning and innovating.")
    meta(property="og:image" content="http://jamhacks.ca/img/og-image.png")
    meta(property="og:image:alt" content="JAMHacks 2")

  body(data-spy="scroll" data-target="#navbar" data-offset="10")
    #landing
      #landing-content
        img#landing-logo(src="img/JAMHacks Centered.svg" alt="JAMHacks")
        h2 Rescheduled to #[strong May 5&ndash;6, 2018]
        h3 Sir John A. Macdonald Secondary School, Waterloo
        a.btn.btn-outline.btn-lg.landing-button.landing-button-highlight(href="/register") Register
        a.btn.btn-outline.btn-lg.landing-button.landing-button-small(href="/mentor") Register as a mentor
        
        h4
          .landing-social-buttons
            a.social-link-icon(href="/slack" target="_blank")
              img(src="/img/slack-icon.png" alt="Slack")
              span Slack
            a.social-link-icon(href="https://jamhacks2.devpost.com/" target="_blank")
              img(src="/img/devpost-icon.png" alt="Devpost")
              span Devpost


    svg.transition-paths#landing-transition(width="100%" height="100%" viewBox="0 0 1 1" preserveAspectRatio="none")
      path(id="path1" class="light-path" d="")
      path(id="path2" class="color-path" d="")

    svg.transition-paths#white-transition(width="100%" height="100%" viewBox="0 0 1 1" preserveAspectRatio="none")
      path(id="path1" class="light-path" d="")
      path(id="path2" class="white-path" d="")

    nav.navbar.navbar-expand-sm.navbar-dark#navbar
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      a.navbar-brand.d-sm-none(href="/register") Register
      .collapse.navbar-collapse#navbar-collapse
        ul.navbar-nav.mt-2.mt-sm-0
          li.nav-item
            a.nav-link(href="#about") About
          li.nav-item
            a.nav-link(href="#faq") FAQ
          li.nav-item
            a.nav-link(href="#schedule") Schedule
          li.nav-item
            a.nav-link(href="#sponsors") Sponsors
          li.nav-item
            a.nav-link(href="#team") Team
          //- li.nav-item.nav-register.d-none.d-sm-block
          //-   a.nav-link(href="/register") Register

    .page
      article#on-color
        .container
          section.about#about
            .row.justify-content-center
              .col
                h1 About
            .row.justify-content-center
              .col-lg-10
                p.tagline JAMHacks 2 is Waterloo's biggest high school hackathon! On May&nbsp;5&ndash;6, we are bringing together 200 students from high schools all over Ontario for a full 24 hours of creating, learning and innovating.

            .row.justify-content-center
              .social-buttons.container-fluid
                .row.justify-content-center
                  a.social-link-icon(href="/slack" target="_blank")
                    img(src="/img/slack-icon.png" alt="Slack")
                  a.social-link-icon(href="https://www.facebook.com/JAMHacks/" target="_blank")
                    img(src="/img/fb-icon.png" alt="Facebook")
                  a.social-link-icon(href="https://twitter.com/jam_hacks" target="_blank")
                    img(src="/img/twitter-icon.png" alt="Twitter")
                  a.social-link-icon(href="https://jamhacks2.devpost.com/" target="_blank")
                    img(src="/img/devpost-icon.png" alt="Devpost")

            .row.justify-content-center
              .col-md-9.col-lg-7
                .map-container.embed-responsive
                  iframe.embed-responsive-item(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11582.034386373409!2d-80.59938464999999!3d43.470855349999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x375a3d40ac31533c!2sSir+John+A.+MacDonald+Secondary+School!5e0!3m2!1sen!2sca!4v1485054414351" allowfullscreen)


          section.faq#faq
            .row.justify-content-center
              .col
                h1 FAQ
            .row
              .col-md-6
                h3 What is JAMHacks?
                p JAMHacks is a #[strong hackathon]&mdash;a 24-hour-long "innovation marathon." You'll work in teams of up to 4 to create an app, game, website, robot, gadget, or whatever your heart desires.
              .col-md-6
                h3 What else is JAMHacks?
                p JAMHacks is also a #[strong learnathon]&mdash;We'll be running workshops to guide you through making a software or electronics project, even if you've never coded before!
              .col-md-6
                h3 What if I don't know how to code?
                p No problem! A hackathon is a great way to quickly pick up new skills. We'll have workshops and mentors to guide you from your first line of code to writing your own app or website!
              .col-md-6
                h3 Do I need to have a team?
                p Nope! We'll have time for team formation at the event, which is a great way to meet cool new people. That said, if you have some friends who are interested, you can definitely form a team ahead of time!
              .col-md-6
                h3 Can I build a hardware/electronics project?
                p Absolutely! We'll have a shop open with soldering irons and small components (resistors etc.) for you to use.
              .col-md-6
                h3 Who can participate?
                p JAMHacks is open to any high school student in Ontario! You don't need to have any experience!
              .col-md-6
                h3 Is there any cost?
                p Nope! The event will be free for all participants thanks to the generous contributions of our sponsors.
              .col-md-6
                h3 How many people will be accepted?
                p We should be accepting everyone who registers!
              .col-md-6
                h3 What should I bring?
                p You should bring your laptop, phone, charger, a reusable water bottle, sleeping bag, toiletries, and your student card or some other form of ID. We will be providing meals and snacks, and quiet rooms for sleeping!
              .col-md-6
                h3 What if I'm not a high school student?
                p We'd love to have you as a mentor! You can #[a(href="/mentor" target="_blank") register here].
              .col-md-6
                h3 Is there a code of conduct?
                p Yes. In short, be respectful to other people. You can read the full version #[a(href="/conduct" target="_blank") here].
              .col-md-6
                h3 I have another question.
                p Feel free to email us at #[+mailto("hello@jamhacks.ca")] or send us a message on #[a(href="https://www.facebook.com/JAMHacks/") Facebook].


      article#on-white
        .container
          section.schedule#schedule
            .row.justify-content-center
              .col
                h1 Schedule

            .row.justify-content-center
              .col-lg-10.col-xl-9
                p.tagline Here is the schedule of the weekend! Please plan to arrive between 2:00#[+non-breaking-ndash]2:30pm to sign in, find a spot and get settled in.
                
            .row.justify-content-center
              .col-lg-11.col-xl-9.schedule-table

                +schedule-day("Saturday May 5", true)

                +schedule-row("2:00&ndash;2:45pm",
                  {title:"Sign In", location:"2nd Floor Foyer"})

                +schedule-row("3:00&ndash;4:00pm",
                  {title:"Opening Ceremonies", location:"Auditorium"})

                +schedule-div("4:00pm", "Hacking begins!")

                +schedule-row("4:00&ndash;5:00pm",
                  {title:"Web Design 101", location:"Strawberry (2601)", type:"workshop"})

                +schedule-row-2("5:00&ndash;6:00pm",
                  {title:"Python 101", location:"Strawberry (2601)", type:"workshop"},
                  {title:"Making Chat Bots with Cognitive Services", subtitle:"By Microsoft", location:"Peach (2602)", type:"workshop"})

                +schedule-row("6:00&ndash;7:00pm",
                  {title:"Dinner", location:"Cafeteria", type:"food"})

                +schedule-row-2("7:30&ndash;8:30pm",
                  {title:"Python 102", location:"Strawberry (2601)", type:"workshop"},
                  {title:"Maps and Apps — Spatial Data with ArcGIS", subtitle:"By Esri", location:"Peach (2602)", type:"workshop"})
                    //- TODO: Get real title

                +schedule-row-2("8:30&ndash;9:30pm",
                  {title:"Web Design 102", location:"Strawberry (2601)", type:"workshop"},
                  {title:"Build Serverless Web Apps with Firebase", subtitle:"By Google", location:"Peach (2602)", type:"workshop"})

                +schedule-row("9:30&ndash;10:30pm",
                  {title:"Machine Learning with TensorFlow", subtitle:"By Google", location:"Peach (2602)", type:"workshop"})
                
                +schedule-row("11:00&ndash;11:45pm",
                  {title:"Cup Stacking", location:"2nd Floor Foyer", type:"activity"})

                +schedule-row("12:00am",
                  {title:"Midnight Snack", location:"2nd Floor Foyer", type:"food"})


                +schedule-day("Sunday May 6")

                //- +schedule-row("12:30-1:00am",
                //-   {title:"Paper Airplanes", location:"2nd Floor Foyer", type:"activity"})

                +schedule-row("12:30&ndash;1:00am",
                  {title:"Werewolf", location:"Strawberry (2601)", type:"activity"})

                +schedule-row("8:00&ndash;9:00am",
                  {title:"Breakfast", location:"Cafeteria", type:"food"})

                +schedule-row("10:30&ndash;11:30am",
                  {title:"How to Pitch", location:"Strawberry (2601)", subtitle:"By Omicron", type:"workshop"})

                +schedule-row("12:00&ndash;1:00pm",
                  {title:"Lunch", location:"Cafeteria", type:"food"})

                +schedule-div("3:00pm", "Submission deadline")

                +schedule-row("4:00&ndash;5:00pm",
                  {title:"Project Showcase and Judging", location:"Cafeteria"})

                +schedule-row("5:00&ndash;6:00pm",
                  {title:"Dinner", location:"Cafeteria", type:"food"})

                +schedule-row("6:00&ndash;7:00pm",
                  {title:"Closing Ceremonies", location:"Auditorium"})

          section.sponsors#sponsors
            .row.justify-content-center
              .col
                h1 Sponsors
            .row.justify-content-center.align-items-center
              .col-lg-9
                p.tagline Interested in sponsoring? Shoot us an email at #[+mailto("sponsor@jamhacks.ca")], or check out our #[a(href="sponsorship.pdf" target="_blank") sponsorship&nbsp;package].
            .row.sponsors-section
              +logo-lg("TechMasters.png", "TechMasters")
            .row.sponsors-section
              +logo-md("Oxford-Learning.png", "Oxford Learning")
              +logo-md("Rapid-Novor.png", "Rapid Novor")
              +logo-md("The-Hub.png", "The Hub", 5)
              +logo-md("TutorBright.jpg", "TutorBright", 5)
              +logo-md("Waterloo-Engineering.png", "University of Waterloo Faculty of Engineering")
            .row.sponsors-section
              +logo-sm("Balsamiq.png", "Balsamiq")
              +logo-sm("Canada-Learning-Code.png", "Canada Learning Code")
              +logo-sm("Communitech.png", "Communitech")
              +logo-sm("Cloudflare.png", "Cloudflare")
              +logo-sm("Ctrl-V.png", "Ctrl V")
              +logo-sm("EA.png", "EA", 10)
              +logo-sm("Esri-Canada.png", "Esri Canada")
              +logo-sm("Google.png", "Google")
              +logo-sm("Indico.png", "Indico")
              +logo-sm("Jetbrains.png", "Jetbrains", 10)
              +logo-sm("Lakes-Software.png", "Lakes Software")
              +logo-sm("Lett-Go-Travel.png", "Lett Go Travel")
              +logo-sm("Panago.png", "Panago")
              +logo-sm("Sketch.png", "Sketch")
              +logo-sm("Stem-Labs-Robotics.png", "Stem Labs Robotics", 15)
              +logo-sm("Dot-tech.png", ".tech")
            .row.justify-content-center
              .col
                h2 Partners
            .row.sponsors-section
              +logo-sm("Kwartzlab.png", "Kwartzlab")
              +logo-sm("Microsoft.png", "Microsoft")
              +logo-sm("Omicron.png", "Omicron", 5)

          section.team#team
            .row.justify-content-center
              .col
                h1 The Team
            .row.justify-content-center.align-items-center
              .col-lg-9
                p.tagline Meet the people behind JAMHacks 2!
            .row.justify-content-center
              +team-member("Ethan.jpg", "Ethan Guo", "Lead Organizer")
              +team-member("Zach.jpg", "Zach Chapman", "Sponsorships")
              +team-member("Fred.jpg", "Fred Chun", "Logistics")
              +team-member("Leon.jpg", "Leon Fattakhov", "Food")
              +team-member("Bob.jpg", "Bob Huang", "Finance")
              .w-100.d-none.d-lg-block
              .col.team-spacer.d-none.d-lg-block
              +team-member("Hyunzee.jpg", "Hyunzee Kim", "Promotions")
              +team-member("Advait.jpg", "Advait Maybhate", "Hacker Experience")
              +team-member("Kyungbin.jpg", "Kyungbin Son", "Promotions")
              +team-member("Calder.jpg", "Calder White", "Logistics")
              .col.team-spacer.d-none.d-lg-block

      footer
        .container
          .col
            a.archive-link.btn.btn-outline-secondary(href="/2017") 2017 Website (Archive)
            p.copyright &copy; 2018 JAMHacks. Website by Ethan Guo.

    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha256-rD86dXv7/J2SvI9ebmNi5dSuQdvzzrrN2puPca/ILls=" crossorigin="anonymous")

    script(src="js/index.js")